@model string

<form asp-action="DeleteConfirm" method="delete" onsubmit="handlerDeleteBook(event)">
    <div id="errorNotification">

    </div>
    <input type="hidden" name="id" id="id" value="@Model" />
    <p>
        آیا از حذف کتاب با شابک @(Model) اطمینان دارید؟
    </p>

    <input type="submit" value="حذف" />
    <button onclick="cancel()">
        لغو
    </button>
</form>