@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create" id="createBook">
    افزودن کتاب جدید
</a>
<div id="body"></div>
<div id="modalContainer"></div>

@section Scripts
{
<script src="~/js/books.js"></script>
}